<div block="calculate-cost">
    <div elem="section" class="container">
        <h2 elem="title">Рассчитать стоимость</h2>
        <form elem="form" action="">
            <div elem="items" class="row clearfix">
                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">На каких рекламных площадках нужна реклама?</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="checkbox">
                                <input type="checkbox" name="" id="yandex" checked>
                                <label elem="label" for="yandex">
                                    <div elem="input-name">Яндекс Директ</div>
                                </label><!-- e:label -->
                            </div><!-- e:checkbox -->
                            <div elem="checkbox">    
                                <input type="checkbox" name="" id="google">
                                <label elem="label" for="google">
                                    <div elem="input-name">Google</div>
                                </label><!-- e:label -->
                            </div><!-- e:checkbox -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">У вас есть интернет-Магазин?</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="radio-btn">
                                <input type="radio" name="e_shop" id="yes_e_shop">
                                <label elem="label" for="yes_e_shop">
                                    <div elem="input-name">Да</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                            <div elem="radio-btn">    
                                <input type="radio" name="e_shop" id="no_e_shop" checked>
                                <label elem="label" for="no_e_shop">
                                    <div elem="input-name">Нет</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">Какие услуги вас интересуют?</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="radio-btn">
                                <input type="radio" name="setting_accomp" id="setting_accomp" checked>
                                <label elem="label" for="setting_accomp">
                                    <div elem="input-name">Настройка и сопровождение</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                            <div elem="radio-btn">    
                                <input type="radio" name="setting_accomp" id="setting">
                                <label elem="label" for="setting">
                                    <div elem="input-name">Только настройка</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                            <div elem="radio-btn">    
                                <input type="radio" name="setting_accomp" id="accomp">
                                <label elem="label" for="accomp">
                                    <div elem="input-name">Только сопровождение</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">У вас есть коллтрекинг?</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="radio-btn">
                                <input type="radio" name="calltracking" id="yes_calltracking">
                                <label elem="label" for="yes_calltracking">
                                    <div elem="input-name">Да</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                            <div elem="radio-btn">    
                                <input type="radio" name="calltracking" id="no_calltracking" checked>
                                <label elem="label" for="no_calltracking">
                                    <div elem="input-name">Нет</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">Укажите рекламный бюджет (чем больше бюджет<br> тем ниже стоимость ведения РК)</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="input">
                                <input type="text" name="" id="" placeholder="Впишите cумму">
                            </div><!-- e:input -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-6">
                    <div elem="inner">
                        <div elem="head">
                            <div elem="name">У вас настроенна система аналитики<br> с конверсиоными целями?</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="radio-btn">
                                <input type="radio" name="system_analysts" id="yes_system_analysts">
                                <label elem="label" for="yes_system_analysts">
                                    <div elem="input-name">Да</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                            <div elem="radio-btn">    
                                <input type="radio" name="system_analysts" id="no_system_analysts" checked>
                                <label elem="label" for="no_system_analysts">
                                    <div elem="input-name">Нет</div>
                                </label><!-- e:label -->
                            </div><!-- e:radio-btn -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

                <div elem="item" class="col-md-12">
                    <div elem="inner" mods="after-resault-calc">
                        <div elem="head">
                            <div elem="name">Количество категорий товара, которые вы будете рекламировать</div>
                            <div elem="help">
                                <i class="far fa-question-circle"></i>
                                <div elem="help-text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    </p>
                                </div><!-- e:help -->
                            </div><!-- e:name -->
                        </div><!-- e:head -->

                        <div elem="inputs">
                            <div elem="input">
                                <input type="text" name="" id="" placeholder="Впишите количество">
                            </div><!-- e:input -->
                        </div><!-- e:inputs -->
                    </div><!-- e:inner -->
                </div><!-- e:item -->

            </div><!-- e:items -->

            <div elem="btn" class="btn_center">
		        <button class="btn-def btn-grn btn-blue" type="submit">Результаты</button>
		    </div>

        </form><!-- e:form -->

        <div block="b-resault">
            <div elem="items">
                <div elem="inner" class="row clearfix">
                    <div elem="item">
                        <div elem="title">Результаты</div><!-- e:title -->
                        <ul elem="list" class="col-md-6">
                            <li>Количество ключевых слов<br> (учитывается от количества направлений):</li>
                            <li>Количество направлений<br> (учитывается от количества направлений):</li>
                            <li>Виды рекламных кампаний (учитывается от типа проекта и количества направлений):</li>
                            <li>Площадки (учитывается от выбора):</li>
                        </ul><!-- e:list -->
                        <ul elem="list" class="col-md-6">
                            <li>Система аналитики (учитывается от выбора):</li>
                            <li>UTM-метки - везде</li>
                            <li>Уточнения - везде</li>
                            <li>Отображаемая ссылка- везде</li>
                        </ul><!-- e:list -->
                    </div><!-- e:item -->
                </div><!-- e:inner -->

                <div elem="inner" class="row clearfix">
                    <div elem="item">
                        <div elem="title">Сопровождение</div><!-- e:title -->
                        <ul elem="list" class="col-md-6">
                            <li>Контроль согласованного бюджета, добавление минус-слов и фраз, корректировка ставок, ежедневная аналитика, корректировка стратегии</li>
                        </ul><!-- e:list -->
                        <ul elem="list" class="col-md-6">
                            <li>Стоимость сопровождения (учитывается от типа проекта и количества направлений): 5000</li>
                        </ul><!-- e:list -->
                    </div><!-- e:item -->
                </div><!-- e:inner -->
            </div><!-- e:items -->
            <div elem="total">Итого: 0</div><!-- e:total -->
        </div><!-- b:b-resault -->

    </div><!-- e:section -->
</div><!-- b:calculate-cost -->