.calculate-cost
    font-family : $fonts.base
    padding-bottom 50px

    &__title
        font-size 48px
        color #2d363d
        font-weight 400
        line-height 1.1
        text-align center
        margin-top 0
        margin-bottom 90px

        @media (max-width 1023px)
            font-size 38px
            margin-bottom 50px

        @media (max-width 480px)
            font-size 28px  
            margin-bottom 30px

    &__form
        margin-bottom 60px

        @media (max-width 640px)
            margin-bottom 40px

    &__items 
        margin-left -27px

        @media (max-width 1199px)
            margin 0

    &__item
        padding 0 0 22px 27px

        @media (max-width 1199px)
            padding 0 0 22px 0

        @media (max-width 1199px)
            width 100%
        
    &__inner    
        display flex
        flex-direction column
        justify-content center
        padding 0 0 0 35px
        background-color #fff
        box-shadow 1px 5px 20px 5px rgba(41,41,41,0.07)
        min-height 141px

        &--after-resault-calc
            @media (min-width 1200px)
                & ^[0]
                    &__head,
                    &__inputs
                        justify-content center

                    &__inputs
                        margin-top 10px    

        @media (max-width 1199px)
            height auto !important
            padding 25px

    &__head
        color #111
        font-weight 400
        line-height 1.1
        display flex

    &__name
        font-size 20px
        margin-right 7px

        @media (max-width 1199px)
            br
                display none

        @media (max-width 440px)      
            font-size 18px  

    &__help
        align-self baseline
        position relative
        top -5px
        cursor pointer


        .fa-question-circle
            color #d5d5d5    
            transition color .3s

        &:hover
            .fa-question-circle
                color #93c5e9
            
            & ^[0]
                &__help-text
                    opacity 1
                    z-index 1    

    &__help-text
        font-size 12px
        color #000
        line-height 1.1
        padding 5px 8px 10px 8px
        width 175px
        background-color #fff
        box-shadow 0px 5px 29px 0px rgba(41,41,41,0.07)
        position absolute
        top -65px
        left 0
        cursor default
        opacity 0
        z-index -1
        transition opacity .3s

        p
            margin 0

        @media (max-width 1199px)
            left -159px  

    &__inputs
        display flex    
        flex-wrap wrap

        input[type="checkbox"], 
        input[type="radio"]
            position absolute
            left -9999px

        input[type="checkbox"] + label, 
        input[type="radio"] + label
            display inline-block
            position relative
            padding-left 32px
            line-height 20px
            cursor pointer

        input[type="checkbox"] + label:before, 
        input[type="radio"] + label:before
            content ""
            position absolute
            left 0px
            top 0px
            width 20px
            height 20px
            border 1px solid #999
            background-color #fff

        input[type="radio"] + label:before
            border-radius 100%    

        input[type="checkbox"] + label:after, 
        input[type="radio"] + label:after
            content ""
            position absolute
            transition opacity 0.3s

        input[type="checkbox"] + label:after
            left 4px
            top 5px
            width 12px
            height 6px
            border-radius 1px
            border-left 2px solid #50a2de
            border-bottom 2px solid #50a2de
            transform rotate(-45deg)

        input[type="radio"] + label:after 
            left 5px
            top 5px
            width 12px
            height 12px
            border-radius 100%
            background-color #50a2de

        input[type="checkbox"] + label:after, 
        input[type="radio"] + label:after
            opacity 0

        input[type="checkbox"]:checked + label:after, 
        input[type="radio"]:checked + label:after
            opacity 1    

    &__checkbox
        display flex
        margin-right 30px
        margin-top 20px

    &__radio-btn
        display flex
        margin-right 35px       
        margin-top 20px

    &__input
        width 337px
        max-width 100%
        margin-top 10px

        input[type=text]
            font-size 19px 
            color #000 
            font-family : $fonts.base
            font-weight 300
            line-height 1
            width 100%
            border 1px solid #cfcfcf
            padding 11px 19px 14px
            outline none
            transition border-color .3s
            &:focus
                border-color #50a2de

            @media (max-width 440px)
                font-size 16px
                padding 8px 15px 11px

        /* IE 10+ */
        ::-webkit-input-placeholder
            font-size 19px
            color #c3c3c3
            font-weight 300
            @media (max-width 440px)
                font-size 16px
            
        :-moz-placeholder
            font-size 19px
            color #c3c3c3
            font-weight 300
            @media (max-width 440px)
                font-size 16px

        /* FF 4-18 */
        ::-moz-placeholder
            font-size 19px
            color #c3c3c3
            font-weight 300
            @media (max-width 440px)
                font-size 16px

        /* FF 19+ */
        :-ms-input-placeholder
            font-size 19px
            color #c3c3c3
            font-weight 300
            @media (max-width 440px)
                font-size 16px

    &__input-name
        font-size 18px
        color #111
        font-weight 300
        line-height 1.1  
        margin-top 2px  
    
    &__btn
        text-align center
        margin-top 20px
        .btn-def
            font-size 18px
            color #fff
            font-family : $fonts.base
            text-decoration none
            display inline-block
            padding 13px 55px 15px
            background #fff
            transition background .3s
            border-radius 0
            border none 
            appearance none
            cursor pointer
            outline none !important

        .phone-write-us
            .btn-def
                padding 9px 25px

        .btn-grn
            background #0cd2a6
            color #fff !important

        .btn-blue
            &:hover
                background #13afdf
                color #fff !important

        .grn-tx
            color #0cd2a6
            font-size 16px
            margin-right 15px
    

    .b-resault

        &__title
            font-size 30px
            font-weight 400
            text-align center
            line-height 1.1
            padding 0
            margin-bottom 55px
            
            @media (max-width 640px)
                font-size 28px
                margin-bottom 30px

        &__list
            margin-top 0
            list-style none

            li
                font-size 20px
                color #000
                font-weight 400
                padding-left 35px
                line-height 1.1
                margin-bottom 25px
                position relative
                &:before
                    content ''
                    position absolute
                    top 3px
                    left 0
                    width 14px
                    height 14px
                    background-color #56a5df

                @media (max-width 640px)
                    font-size 18px
                    margin-bottom 15px    


        &__total
            font-size 30px
            color #56a5df
            font-weight 600
            text-align center
                    