<div block="crm-system">
    <div elem="section" class="container">
        <h2 elem="title">Проблемы, которые решает CRM- система</h2><!-- e:title -->
        <div elem="items" class="row clearfix">

            <div elem="item" class="col-md-5 ">
                <div elem="icon"><img src="img/crm-s-icon.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">ЧАСТЬ КЛИЕНТОВ ПОПАДАЕТ В СПАМ<br> И ЗАБЫВАЕТСЯ МЕНЕДЖЕРАМИ?</div><!-- e:name -->
                    <div elem="text">
                        <p>все заявки с сайта будут падать в crm, а для менеджеров мы настроим автозадачи</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" class="col-md-5 col-md-offset-2">
                <div elem="icon"><img src="img/crm-s-icon2.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">НЕПОНЯТНО СКОЛЬКО МЕНЕДЖЕР<br> СДЕЛАЛ ПРОДАЖ?</div><!-- e:name -->
                    <div elem="text">
                        <p>настроим панель для отслеживания статистики по каждому сотруднику</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" class="col-md-5 ">
                <div elem="icon"><img src="img/crm-s-icon3.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">ОТКУДА ИДУТ ЗАЯВКИ И ЗВОНКИ<br> НЕ ПОНЯТНО?</div><!-- e:name -->
                    <div elem="text">
                        <p>Настроим аналитику для отслеживания эффективности рекламных каналов?</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" class="col-md-5 col-md-offset-2">
                <div elem="icon"><img src="img/crm-s-icon4.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">КУЧА БУМАЖЕК, ПРОГРАММ: ECXEL,<br> 1C, СКЛАД, ТЕЛЕФОНИЯ?</div><!-- e:name -->
                    <div elem="text">
                        <p>Создавайте счета и договора прямо в Битрикс 24, звоните не выходя из системы</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" class="col-md-5 ">
                <div elem="icon"><img src="img/crm-s-icon5.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">НЕТ ЧЕТКОЙ ПОШАГОВОЙ РАБОТЫ<br> С КЛИЕНТОМ?</div><!-- e:name -->
                    <div elem="text">
                        <p>Детально изучим бизнес-процессы и пропишем каждый этап работы с клиентом</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->

            <div elem="item" class="col-md-5 col-md-offset-2">
                <div elem="icon"><img src="img/crm-s-icon5.png" alt=""></div><!-- e:icon -->
                <div elem="body">
                    <div elem="name">НЕПОНЯТНО СКОЛЬКО МЕНЕДЖЕР<br> СДЕЛАЛ ПРОДАЖ</div><!-- e:name -->
                    <div elem="text">
                        <p>настроим панель для отслеживания статистики по каждому сотруднику</p>
                    </div><!-- e:text -->
                </div><!-- e:body -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:crm-system -->