/* ==========================================================================
   Блок - crm-system
   ========================================================================== */
.crm-system
    font-family : $fonts.base
    background #f8f8f8 url('../img/crm-s-bg.png') 50% 50% no-repeat
    background-size cover
    padding-top 55px
    padding-bottom 37px

    @media (max-width 480px)
        padding-top 25px
        padding-bottom 25px
    
    // &__section
    //     width 1200px
    //     max-width 100%
    //     padding-left 15px
    //     padding-right 15px
    //     margin 0 auto

    &__title
        font-size 48px
        color #2d363d
        font-weight 400
        line-height 1.1
        text-align center
        margin-top 0
        margin-bottom 90px

        @media (max-width 1023px)
            font-size 38px
            margin-bottom 50px

        @media (max-width 480px)
            font-size 28px  
            margin-bottom 30px  

    // &__items
    //     display flex
    //     justify-content space-between
    //     flex-wrap wrap

    &__item
        display flex
        // width 460px
        // max-width 100%
        margin-bottom 65px

        @media (max-width 440px)
            display block
            text-align center
            margin-bottom 40px

    &__icon
        flex 0 0 50px
        width 50px
        max-width 50px
        margin-right 33px    

        img 
            max-width 100%
            height auto

        @media (max-width 440px)
            margin 0 auto 20px auto

    &__name
        font-size 18px
        color #111
        font-weight 400
        text-transform uppercase
        line-height 1.1
        margin-bottom 10px
        padding-bottom 15px
        position relative
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            width 30px
            height 1px
            background-color #50a2de

            @media (max-width 440px)
                left 50%
                margin-left -15px

        @media (max-width 480px)
            br 
                display none 

    &__text
        font-size 18px
        color #212121
        font-weight 300    

        p
            margin 0